.Window {
    background-color: transparent;
}

.Entry > image,
.Entry > icon.primary {
    color: black;
}


.App-Names {
    color: white;
}

.App-Images {
    /* background-color: aqua;
    border-radius: 10px; */
    /* padding-left: 10px;
    padding-right: 10px; */
}

.Entry {
    background-color: white;
    color: black;
}

.Scroller {
    color: white;
    background-color: blue;
}

* {
    transition: all 0.2s ease;
}